.hero-btn {
  display: inline-block;

  padding: 10px 24px;  
  margin-top: 20px;

  background-color: #2563eb;
  color: #ffffff;

  font-size: 14px;  
  font-weight: 600;

  border-radius: 5px;
  text-decoration: none;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hero-btn:hover {
  background-color: #1e40af;
}

.hero h1 span {
  color: #2563eb;
  display: inline-block;
  margin-top: 8px; 
}

