.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  background-color: #ffffff;

  border-bottom: none;

  z-index: 1000;
}

/* 메뉴 */
.navbar-menu {
  display: flex;
  gap: 24px;
  list-style: none;

  margin-left: auto;
  margin-right: 100px;

  padding: 0;

  align-items: center;
}

/* 링크 */
.navbar-menu a {
  color: #111111 !important;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;

  line-height: 1;
  display: inline-flex;
  align-items: center;
}

.navbar-menu a:hover {
  color: #2563eb !important;
}

/*  다크모드 버튼 */
.theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;

  font-size: 18px;
  line-height: 1;

  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transform: translateY(1px);
}
