.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  width: 90%;         
  max-width: 1200px;  
  max-height: 90vh;    
  overflow-y: auto;
  border-radius: 16px;
  position: relative;
}

.modal-body {
  padding: 24px;
}

.modal-body p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 24px;
  text-align: left;
   white-space: pre-line;
}

.modal-header {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

.modal-header h2 {
  font-size: 28px;  
  font-weight: 700;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;

  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;

  color: #111;
}

.modal-images {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-images img {
  width: 100%;
  max-height: 700px;  
  object-fit: contain;
  background: #f5f5f5;
  padding: 16px;
  border-radius: 16px;
}
