* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', Arial, sans-serif;
  background-color: #fff;
  color: #111;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding-top: 100px;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px;
  box-sizing: border-box;
  scroll-margin-top: 64px;
}

#home {
  align-items: center;
  text-align: center;
}
