/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 기본 스타일 */
body {
  font-family: 'Pretendard', Arial, sans-serif;
  background-color: #fff;
  color: #111;
  line-height: 1.6;
}

/* 공통 태그 */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding-top: 100px;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;        /* 🔥 화면 한 장 */
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 80px 40px;       /* 네비 공간 포함 */
  box-sizing: border-box;

  scroll-margin-top: 64px; /* navbar 높이 */
}



#home {
  align-items: center;
  text-align: center;
}